.page-header
  %h1 Listing robots

%table.table.table-bordered.table-striped
  %thead
    %tr
      %th Name
      %th FPGA Address
      %th
      %th
      %th

  %tbody
    - @robots.each do |robot|
      %tr
        %td= robot.name
        %td= robot.fpga_adress
        %td= link_to 'Show', robot
        %td= link_to 'Edit', edit_robot_path(robot)
        %td= link_to 'Destroy', robot, :confirm => 'Are you sure?', :method => :delete
