= simple_form_for(@gpio, :defaults => { :input_html => { :class => 'input-xxlarge' } }) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :description
    = f.input :pin
    = f.input :direction
    = f.input :robot_id

  .form-actions
    = f.button :submit, :class => "btn-primary"
