!!!
%html
  %head
    %meta{:charset => "utf-8"}
    %title Robot Céc
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    %meta{:content => "", :name => "description"}
    %meta{:content => "", :name => "author"}

    / Le HTML5 shim, for IE6-8 support of HTML5 elements
    /[if lt IE 9]
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          %a.btn.btn-navbar{:data => {:toggle => "collapse", :target => ".nav-collapse"} }
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          = link_to "Robot Céc", "#", :class => "brand"
          .nav-collapse
            %ul.nav
              %li{:class => is_selected('robots')}
                = link_to "Home", robots_path
              %li{:class => is_selected('registers')}
                = link_to "Registers", registers_path
              %li{:class => is_selected('gpios')}
                = link_to "Gpios", gpios_path
              %li{:class => is_selected('statuses')}
                = link_to "Statuses", statuses_path
              %li{:class => is_selected('operations')}
                = link_to "Operations", operations_path
              %li{:class => is_selected('operation_generics')}
                = link_to "Operations Generics", operation_generics_path
              %li{:class => is_selected('tasks')}
                = link_to "Tasks", tasks_path
              %li{:class => is_selected('perturbations')}
                = link_to "perturbations", perturbations_path
              %li{:class => is_selected('working_operations')}
                = link_to "Queue", working_operations_path
    .container
      - flash.each do |name, msg|
        = content_tag :div, :class => "alert #{name == :error ? "alert-error" : "alert-success" }" do
          %a.close{:href => "#", :data => {:dismiss => "alert"} } ×
          = msg
      = yield
      %hr
      %footer
        %p Pierre Paques &copy; ECAM 2012-2013
