.page-header
  = link_to operations_path, :class => 'btn' do
    %i.icon-list-alt
    Back
  = link_to edit_operation_path(@operation), :class => 'btn btn-primary' do
    %i.icon-pencil.icon-white
    Edit
  %h1 Listing operations

%dl
  %dt Name:
  %dd= @operation.name
  %dt Description:
  %dd= @operation.description
  %dt Time max:
  %dd= @operation.time_max
  %dt State to send:
  %dd= @operation.state_to_send.name
  %dt State asked:
  %dd= @operation.state_asked.name
  %dt Operation Generic:
  %dd= @operation.operation_generic.name
  %dt Operation error:
  %dd
    = link_to(@operation.operation_error.name, @operation.operation_error)  unless @operation.operation_error.blank?
    = "None" if @operation.operation_error.blank?